@use '../../assets/styles/colors' as *;
.Dashboard {
	&__available_balance {
		font-size: 4rem;
		text-align: center;
		color: $primary;
		margin-bottom: 1rem;
		span {
			display: block;
			font-size: 1rem;
			color: $secondary;
		}
	}
}