@use '../../assets/styles/colors' as *;
.Input {
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column-reverse;
	width: 100%;
	span {
		margin-bottom: 0.25rem;
		font-weight: bold;
		font-size: 0.875rem;
		color: $secondary;
	}
	input {
		border: solid 1px $primary-light;
		border-radius: 0.5rem;
		padding: 0.5rem;
		line-height: 2;
		color: $secondary;
		font-weight: bold;
		appearance: none;
		&:focus {
			border-color: $caution;
			color: $primary;
			box-shadow: 0.25rem 0.25rem -0.5rem 1rem rgba(0 0 0 / 30%);
			+ span {
				color: $primary;
			}
		}
	}
	
}