// Defaults
$white: #FFFFFF;
$black: #111111;

// Blues
$primary: #1042E6;
$primary-medium: #87A0F2;
$primary-light: #D0DAFA;
$primary-white: #F3F5FE;

// Grays
$secondary: #645C5C;
$secondary-medium: #B2AEAE;
$secondary-light: #E0DEDE;
$secondary-white: #F7F7F7;

// Yellows
$caution: #DECA0B;
$caution-medium: #EFE585;
$caution-light: #F9F5CE;
$caution-white: #FEFDF2;

// Orange
$warning: #DE7316;
$warning-medium: #EFB98B;
$warning-light: #F9E3D0;
$warning-white: #FEF8F3;

// Reds
$danger: #F9292B;
$danger-medium: #FC9495;
$danger-light: #FED4D4;
$danger-white: #FFF4F4;

// Greens
$success: #70DE20;
$success-medium: #B8EF90;
$success-light: #E2F9D2;
$success-white: #F8FEF3;

// Pinks
$accent1: #DE1668;
$accent1-medium: #EE8AB3;
$accent1-light: #F9D1E1;
$accent1-white: #FEF4F8;

// Teal
$accent2: #0BBADE;
$accent2-medium: #84DCEE;
$accent2-light: #CFF2F9;
$accent2-white: #F3FCFE;

